.stack > h4, .footnote p{
  font-size: small;   
}

.sourceCode code, .reveal div .smaller{
  font-size: smaller;
  line-height: normal
}

.stack .present + h4{
  visibility: hidden;
}

.reveal section img {
  border: none;
  box-shadow: none;
  max-height: 95vh;
}

.logo {
  height: 20vh;
}